.post-container {
    padding: 50px 0;
    height: fit-content;
    background-color: var(--secondary-color);
    border-radius: 20px;
    max-width: fit-content;
}

#post-details {
    padding: 20px;
    background-color: #efefef;
}

#post-details img {
    margin-bottom: 50px;
}

#post-details button {
    margin-top: 30px;
    border: solid 1px #515357;
    border-radius: 10px;
    padding-inline: 30px;
    color: #515357;
    padding: 10px 20px;
    font-weight: bold;
}

#post-details button:hover {
    background-color: #fec122;
    color: white;
}

@media (max-width: 767px) {
    .post-container img,
    .post-container video {
        max-width: 280px;
    }
}

@media (min-width: 768px) {
    .post-container img,
    .post-container video {
        width: 680px;
    }
}
