/* Start Variables */
:root {
    --main-color: #fdc022;
    --secondary-color: #013564;
    --transparent-color: rgba(253, 192, 34, 0.8);
    --transparent-secondary-color: rgba(1, 53, 100, 0.65);
    --section-padding: 100px;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

/* .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* End Components */

.container-fluid {
    padding: 20px 50px;
}

.post-container {
    margin-top: 150px;
}

.card {
    padding: 0;
    margin-bottom: 30px;
    margin-right: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    background-color: #efefef;
    text-align: center;
}

.container .text-center {
    margin-bottom: 50px;
}

/* Footer Styles */
footer {
    margin-top: 50px;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    color: white;
}

footer .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

footer .title {
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

footer .logo img{
    width: 70%;
    height: 50%;
    margin-bottom: 20px;
}

footer .logo p{
    font-size: 14px;
} 

footer .footer-content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
    margin-top: 30px;
}

footer .footerHUL {
    text-align: center;
    flex: 1;
    margin-right: 50px;
    min-width: 200px;
}

footer .footerHUL h3 {
    margin-bottom: 40px;
    margin-left: 25px;
    font-size: 20px;
    background: var(--main-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .footerUrl li {
    list-style: none;
    margin-bottom: 50px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

footer .footerUrl li:hover,
footer a:hover {
    cursor: pointer;
    color: var(--main-color);
}

footer .right li {
    margin-bottom: 57px;
}

footer .footerUrl i {
    margin-right: 10px;
}

footer .link-active {
    color: var(--main-color);
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    color: white;
    font-size: 20px;
}

footer .dropdown {
    position: relative; 
}

footer .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0 6px;
    cursor: pointer; 
}

footer .dropdown:hover .dropbtn {
    background-color: var(--main-color);
}

footer .dropdown-content {
    display: none;
    position: absolute;
    top: 0; 
    left: 61%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 200px;
    background-color: white;
}

footer .dropdown:hover .dropdown-content {
    display: block;
}

footer .dropdown .dropdown-content a {
    color: var(--secondary-color);
    padding: 10px 6.5px; 
    text-decoration: none;
    display: inline-block;
    text-align: left;
    transition: background-color 0.3s; 
}

footer .dropdown-content a:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

@media (max-width: 576px) {
    footer .footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    footer .footerHUL h3 {
        margin-top: 50px;
    }
    footer .dropdown .dropbtn {
        margin-left: -100px;
    }
    footer .dropdown .dropdown-content {
        display: block;
        left: 44%;
    }
}

@media (max-width: 320px) {
    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }
    footer .footerHUL h3 {
        margin-top: 50px;
    }
    footer .dropdown .dropbtn {
        margin-left: -100px;
    }
    footer .dropdown .dropdown-content {
        display: block;
        left: 44%;
    }
}